# ignore IDEA files (for example)
.idea/
cmake-build-debug/

# ignore system libs
include/

# ignore Visual Studio files
.vs/

# ignore Mac OS files
*.DS_Store

# ignore .o files
*.o

# ignore .txt test files
*.txt

HW3/test

