# ignore IDEA files (for example)
.idea/
cmake-build-debug/

#ignore text file
CMakeLists.txt

# ignore system libs
include/

# ignore Visual Studio files
.vs/

# ignore Mac OS files
*.DS_Store

# ignore .o files
*.o
